:root{
  --text-s: 12px;
  --text-m: 14px;
  --text-l: 18px;
  --title-s: 32px;
  --title-m: 40px;

  --special-letter-spacing: 15px;

  --bold: 700;
  --regular: 400;

  --primary-color: #FFFFFF;
  --secondary-color: #494C6B;
  --unselected-color: #9495A5;
  --selected-color: #3A7CFD;
  --gradient-color: linear-gradient(25deg, #55DDFF, #C058F3);

  --shadow: 0 2.1875rem 3.125rem -0.9375rem rgba(194, 195, 214, 0.5);
}


* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: var(--regular);
  background-color: white;
}
.dark-background{
  background-color: black;
}

/* HEADER CONTAINER */
.header{
  background-image: url(../assets/images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark{
  background-image: url(../assets/images/bg-mobile-dark.jpg);
}

.header-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20.3125rem;
}
@media  screen and (min-width: 600px) {
  .header{
    background-image: url(../assets/images/bg-desktop-light.jpg);
    height: 18.75rem;
  }
  .dark{
    background-image: url(../assets/images/bg-desktop-dark.jpg);
    height: 18.75rem;
  }
  .header-info{
    width: 33.8125rem;
  }
}
.container{
  position: relative;
  top: -4.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 20.4375rem;
  margin-inline: auto;
}
@media  screen and (min-width: 600px) {
  .container{
    width: 33.75rem;
    top: -6.875rem;
  }
}

/* TEXTOS */
.title{
  color: white;
  letter-spacing: var(--special-letter-spacing);
  font-size: var(--title-s);
  font-weight: var(--bold);
}
.task-text{
  font-size: var(--text-s);
  color: var(--secondary-color);
}
.bottom-task-text{
  font-size: var(--text-s);
  color: var(--unselected-color);
}
.filter-text{
  font-size: var(--text-m);
  color: var(--unselected-color);
  font-weight: var(--bold);
}
.footer-text{
  font-size: var(--text-m);
  color: var(--unselected-color);
}


@media  screen and (min-width: 600px) {
  .title{ 
    font-size: var(--title-m);
  }
  .task-text{
    font-size: var(--text-l);
  }
  .bottom-task-text{
    font-size: var(--text-m);
  }
}
/* FINAL TEXTOS */

/* INPUT */
.form-container{
  width: 100%;
}
.input{
  font-family: inherit;
}
@media  screen and (min-width: 600px) {
  .input{
    width: 33.75rem;
  }
}

/*LISTA DE TAREAS*/
.tasks-container{
  width: 100%;
  box-shadow: var(--shadow)
}
.task{
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.25rem;
  border: none;
}
.task:first-child{
  border-radius: 0.3125rem 0.3125rem 0 0;
}
.task-list{
  border-radius:0 0 0.3125rem 0.3125rem;
}
.checkbox-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.checkbox-circle::before{
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  border: 0.0625rem solid var(--unselected-color);
}

.checkbox-input:checked + .checkbox-circle::before{
  background-image:url(../assets/images/icon-check.svg), var(--gradient-color);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.checkbox-input:checked + .checkbox-circle{
  text-decoration: line-through;
  color: var(--unselected-color);
}
.checkbox-input{
  display: none;
}

.eliminate-task-button{
  border: none;
  background-color: transparent;
  color: var(--unselected-color);
  font-size: var(--text-m);
}
/* FIN LISTA DE TAREAS */

/* BOTONES */
.button{
  border: none;
  background-color: transparent;
  font-family: inherit;
}
.button-selected{
  color: var(--selected-color);
}
/* FIN BOTONES */

/* FILTROS */
.filters{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media  screen and (min-width: 600px) {
  .filters{
    position: relative;
    top: -4rem;
    width: 24.375rem;
    background-color: transparent;
  }
}
/* FIN FILTROS */

/* FOOTER */
.footer-text{
  text-align: center;
  margin: 0;
}

/* BORDER RADIUS COMPLETE */
.border-radius{
  border-radius: 0.3125rem;
}